package-lock.json
cypress/integration/*
!cypress/integration/test.spec.js
!cypress/integration/test.api.spec.js
cypress/videos
cypress/screenshots
cypress/snapshots
zap/results/*
node_modules
0
.github/ISSUE_TEMPLATE
